@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
.hidden {
    opacity: 0;
}

.console-container {
    font-size: 3em;
    text-align: center;
    height: 200px;
    width: 600px;
    display: block;
    position: absolute;
    color: whitesmoke;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.console-uderscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}

span {
    font-family: great-vibes, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#text1 {
    font-size: 2.1em;
}

.name-con {
    font-size: 3em;
    text-align: center;
    height: 100px;
    width: 600px;
    display: block;
    position: absolute;
    color: whitesmoke;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    top: 10%;
}

@media (max-width: 600px) {
    .console-container {
        font-size: 1em;
        text-align: center;
        height: 100px;
        width: 300px;
        display: block;
        position: absolute;
        color: whitesmoke;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .name-con {
        font-size: 1.2em;
        text-align: center;
        height: 100px;
        width: 300px;
        display: block;
        position: absolute;
        color: whitesmoke;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        top: 10%;
    }
}